* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 10% 20%;
  background-color: aliceblue;
}

.container {
  display: grid;
  width: 35vw;
  height: 80vh;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5px;
  background-color: rgb(39, 86, 45);
  padding: 10px;
  box-shadow: 5px 5px 5px 0 rgba(98, 59, 59, 0.75);
}

.screen {
  padding: 1.5rem;
  grid-column: 1/ -1;
  background-color: darkgrey;
}

.calc-Btns {
  border: 1px solid rgb(199, 199, 199);
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.calc-Btns:hover {
  background-color: rgb(159, 142, 142);
}

.symb {
  background-color: rgb(235, 156, 11);
}

.zero {
  grid-area: 6 / 1 / 7 / 3;
}
